---
title: MapR - Robin's R blog
layout: master
published: true
---

This is my blog on R. The name MapR comes from its focus on manipulating and visualisng
spatial data. If you're interested in more of my R outputs, please check out 
my <a href="http://rpubs.com/RobinLovelace">rpubs</a> page.

<br>

<hr>

<br>

{% for post in site.categories.r %} 
		<h2><a href="{{ post.url }}">{{ post.title }} </a></h2>
		<h4>Article of {{ post.content | number_of_words}} words, published {{ post.date | date: "%-d %B %Y" }}</h4>
	{% if post.content contains '<!--more-->' %}
    	    {{ post.content | split:'<!--more-->' | first }}
    	    <p><a href="{{ post.url }}">Continue reading</a></p>
	{% else %}
	{{ post.excerpt }}
    	{% endif %}
  {% endfor %}
