<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="/stylesheets/master.css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/pygments.css">
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
    <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/robinlovelace' />
    <style type="text/css">
#map { height: 600px; }
</style>
  </head>
  <body>
    <div id='wrapper'>
      

        {{ content }}

    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-82337-14");
        pageTracker._trackPageview();
        } catch(err) {}</script>
  </body>
</html>
